@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4>Creator @ViewData["Creator"]</h4>

<address>
    <strong>More information: </strong> <a href="https://github.com/RubensSouzaLima">https://github.com/RubensSouzaLima</a>
</address>
